body {
    background: #1d1d1d;
    color: #cfd4d8;
}

.code {
    font-family: "Courier New", monospace;
    white-space: nowrap;
}

.red-bold {
    color: #5cf5ff;
    font-weight: bold;
}

table, th, td {
    /* border: 1px solid black; */
    padding: 2px;
    border-collapse: collapse;
}

th {
    background-color: #632f2f;
    text-align: left;
    padding: 5px;
}

tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

table.output {
    width: auto;
}

table.output td {
    font-family: "Courier New", monospace;
    width: auto;
    white-space: normal;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 5px;
}

a:link {
    color: #5b9aff;
}

a:visited {
    color: #b763e8;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

h1 {
    color: #ffc73e
}

h2 {
    color: #ffc73e
}

h3 {
    color: #ffc73e
}

h4 {
    color: #ffc73e
}
